* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    color: $text-color;
    background: rgb(35, 180, 255);
    background: linear-gradient(
        0deg,
        rgba(35, 180, 255, 1) 0%,
        rgba(13, 100, 255, 1) 100%
    );

    a {
        text-decoration: none;
        color: $primary-color;
    }

    .App {
        .header {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $light-color;
            height: 6rem;

            &__title {
                font-size: 2.7rem;
                font-weight: 400;
                margin: 0;
                color: $dark-color;
            }
        }
    }
}
